<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.tiendat.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.tiendat.servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatusServlet</servlet-name>
        <servlet-class>com.tiendat.servlet.GetStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIdolsServlet</servlet-name>
        <servlet-class>com.tiendat.servlet.GetIdolsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeIdolServlet</servlet-name>
        <servlet-class>com.tiendat.servlet.LikeIdolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStatusServlet</servlet-name>
        <url-pattern>/GetStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIdolsServlet</servlet-name>
        <url-pattern>/GetIdolsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeIdolServlet</servlet-name>
        <url-pattern>/LikeIdolServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
